.temp{
    margin-top: 50px;
    text-align: center;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.mybtn{
    text-align: center;
}

.searchbar{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.tablecont{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}